<link rel="stylesheet" href="../static/home.css">
<section class="intro">
    <div class="container">
      <h1>My Timeline</h1>
    </div>
  </section>
  
  <section class="timeline">
    <ol>
      <li>
        <div class="item-inner">
          <div class="time-wrapper">
            <time>2002</time>
          </div>
          <div class="details">
            <h3>Heading Here</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
          </div>
        </div>
      </li>
      <li>
        <div class="item-inner">
          <div class="time-wrapper">
            <time>2010</time>
          </div>
          <div class="details">
            <h3>Heading Here</h3>
            <p>Proin quam velit, efficitur vel neque vitae, rhoncus commodo mi. Suspendisse finibus mauris et bibendum molestie. Aenean ex augue, varius et pulvinar in, pretium non nisi.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="item-inner">
          <div class="time-wrapper">
            <time>2019</time>
          </div>
          <div class="details">
            <h3>Heading Here</h3>
            <p>Proin iaculis, nibh eget efficitur varius, libero tellus porta dolor, at pulvinar tortor ex eget ligula. Integer eu dapibus arcu, sit amet sollicitudin eros.</p>
            <a href="../" class="link-button">Check Out My linkedIn</a> <!-- This is the link -->
          </div>
        </div>
      </li>
      <li>
        <div class="item-inner">
          <div class="time-wrapper">
            <time>2024</time>
          </div>
          <div class="details">
            <h3>Heading Here</h3>
            <p>In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.</p>
            <a href="../" class="link-button">Check Out My Github</a> <!-- This is the link -->
          </div>
        </div>
      </li>
      <li>
        <div class="item-inner">
          <div class="time-wrapper">
            <time>2025</time>
          </div>
          <div class="details">
            <h3>Heading Here</h3>
            <p>In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.</p>
            <a href="../instaclone/index.html" class="link-button">Check Out My Insta</a> <!-- This is the link -->
          </div>
        </div>
      </li>
      <li>
        <div class="item-inner">
          <div class="time-wrapper">
            <time>2026</time>
          </div>
          <div class="details">
            <h3>Heading Here</h3>
            <p>Proin iaculis, nibh eget efficitur varius, libero tellus porta dolor, at pulvinar tortor ex eget ligula. Integer eu dapibus arcu, sit amet sollicitudin eros</p>
            <a href="../ndex.html" class="link-button">Contact me via Mail</a> <!-- This is the link -->
          </div>
        </div>
      </li>
  </section>

  <script src="../static/home.js"></script>